table {
  margin: auto;
  border-collapse: separate;
  border-spacing: 7px;
  cursor: default;

  td {
    border-radius: 1px
    border-spacing: 0;
    background: white;
    height: 21px;
    opacity: .15;
    padding: 0;
    width: 21px;
    // transition-delay: .5s;

    &.around {
      opacity: 0.3;
    }

    &.active {
      opacity:  0.5;
    }

    &.playing {
      opacity:  1;
      transition-property: opacity;
      transition-duration: .25s;
    }

    &.delay {
      transition-property: opacity;
      transition-delay: .25s;
    }
  }
}

.play table {
  cursor: pointer;

  td:hover {
    opacity: 0.1;

    &.active:hover {
      opacity: 0.4;
    }

    &.playing:hover {
      opacity: 1;
    }
  }
}

/* Smaller than tablets */
@media (max-width: 767px) {
  table {
    border-spacing: 5px;
  }
}
