.top-bar {
  background black
  box-sizing border-box
  left 0
  display flex
  justify-content space-between
  padding 15px
  position fixed
  top 0
  width 100%

  h1 {
    font-size 1.2em
    margin 0
    padding 0
  }
}