.login-container
    left 50%
    margin auto
    position absolute
    top 50%
    transform translate(-50%, -50%)
    width: 200px

#login-form
    box-sizing border-box

#login-form input,
#login-form select
    background-color black
    border 1px solid rgba(255, 255, 255, .5)
    color white
    margin 10px
    padding 5px
    width 100%
