
  body {
    background:  black;
    font-family: monospace;
    text-align: center;
  }

.bottom {
  color: white;
  margin-top 15px
  opacity .5
}

  .brand-title {
    display: inline;
    font-size: 1em;
    font-weight: normal;
    text-align center
    margin 0
  }

  #body {
    width: 768px;
    margin: auto;
  }

  .controls {
    text-align: left;
    margin: auto;
    width: 502px;
  }
  
  .player-list {
    display: flex;
    margin-bottom: 7px;
  }

  .player {
    color: white;
    display: inline-block;
    flex-basis: 0;
    flex-grow: 1;
    margin: 0 3px;
    padding: 5px 8px;
    text-align: center;
    opacity: 0.75;
  }
  
  .player:first-child {
    margin-left: 0;
  }
  .player:last-child {
    margin-right: 0;
  }

  #play {
    background-color: gray;
    border: 1px solid gray;
    font-family: inherit;
    font-size: 10px;
    padding: 6px;
    color: white;
    cursor: pointer;
  }

  #play:focus {
    outline: 0;
  }
  
  #add-room {
    border-radius: 2px;
    background-color: #607D8B;
    border: 0px;
    padding: 12px;
    color: white;
  }

  #play:hover, #add-room:hover {
    opacity: 0.8;
  }

  .center {
    text-align:  center;
  }

  a, .pointer {
    color: white;
    text-decoration: none;
    cursor: pointer;
    color:  rgb(200,200,200);
  }

  a:hover, .pointer:hover {
    color:  rgb(250,250,250);
  }

  #shareUrl {
    width: 150px;
  }

  #options, #share {
    margin-top:  25px;
    text-align:  center;
    display: none;
  }

  h2 {
    margin: 0 0 5px 0;
    font-size: 1.25em;
    padding:  0 0 5px 0;
    border-bottom:  1px solid rgb(100,100,100);
  }

// Player colours
&.RED {
  background-color: #F44336;
}
&.BLUE {
  background-color: #2196F3;
}
&.LIGHT_GREY {
  background-color: #607D8B;
}
&.TEAL {
  background-color: #009688;
}
&.YELLOW {
  background-color: #FFEB3B;
}
&.ORANGE {
  background-color: #FF5722;
}
&.INDIGO {
  background-color: #3F51B5;
}
&.GREEN {
  background-color: #1B5E20;
}
&.PINK {
  background-color: #E91E63;
}
&.PURPLE {
  background-color: #9C27B0;
}

.hidden {
  display: none;
}

p {
  margin:  0;
}

label {
  width: 150px;
  cursor:  pointer;
}