
  body {
    background:  black;
    color:  white;
    font-family: monospace;
    text-align: center;
  }

.bottom {
  color: cadetblue;
  margin-top 15px
  opacity .5
  .github-btn {
    margin-top: 12px;
    margin-right: -92px;
    margin-bottom: 12px;
  }
}

.bottom:hover {
    opacity: 1
}

  .brand-title {
    display: inline;
    font-size: 18px;
    font-weight: normal;
    text-align center
    margin 0
  }

  #body {
    width: 768px;
    margin: auto;
  }

  #play {
    border-radius: 2px;
    background-color: #607D8B;
    border: 0px;
    padding: 12px;
    color: white;
  }

  .center {
    text-align:  center;
  }

  a, .pointer {
    color: white;
    text-decoration: none;
    cursor: pointer;
    color:  rgb(150,150,150);
  }

  a:hover, .pointer:hover {
    color:  rgb(200,200,200);
  }

  #shareUrl {
    width: 150px;
  }

  #options, #share {
    margin-top:  25px;
    text-align:  center;
    display: none;
  }

  h2 {
    margin: 0 0 5px 0;
    font-size: 1.25em;
    padding:  0 0 5px 0;
    border-bottom:  1px solid rgb(100,100,100);
  }

  .options {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border:  1px solid rgb(100,100,100);
    padding: 10px;
  }

  footer {
    /*display: none;*/
    font-size: 12px;
    text-align: center;
    color: rgb(100,100,100);
  }

  table {
    margin: auto;
    margin-bottom:  5px;
    border-spacing: 7px;
  }

  td {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    background: white;
    opacity:  0.15;
    cursor: pointer;
  }

  td.p2 {
    opacity:  0.2;
    /*box-shadow: 0px 0px 2px 2px rgba(75, 75, 75, .9);*/
    border: none;
  }

  td.p1 {
    opacity: 0.3;
    /*box-shadow: 0px 0px 2px 2px rgba(150, 150, 150, .9);*/
    border: none;
  }

  td.i { /* selected */
    opacity:  0.5;
  }

  td.p {
    opacity:  0.9;
    /*box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, .9);*/
    border: none;
  }

  .hidden {
    display: none;
  }


  p {
    margin:  0;
  }

  label {
    width: 150px;
    cursor:  pointer;
  }

  .RED {
    background-color: #F44336;
  }
  .BLUE {
    background-color: #2196F3;
  }
  .LIGHT_GREY {
    background-color: #607D8B;
  }
  .TEAL {
    background-color: #009688;
  }
  .YELLOW {
    background-color: #FFEB3B;
  }
  .ORANGE {
    background-color: #FF5722;
  }
  .INDIGO {
    background-color: #3F51B5;
  }
  .GREEN {
    background-color: #1B5E20;
  }
  .PINK {
    background-color: #E91E63;
  }
  .PURPLE {
    background-color: #9C27B0;
  }
