  @font-face {
    font-family: 'Roboto-Regular'; 
    src: url("/fonts/Roboto-Light.ttf");
  }
  
  body {
    background:  black;
    font-family: 'Roboto-Regular'; 
    text-align: center;
    margin: 0;
    color: white;
  }
  
  * {
    font-family: 'Roboto-Regular', monospace;
  }

  .main {
    max-width: 500px;
    margin: auto;
    width: 100%;
  }

  .bottom {
    color: white;
    opacity .5;
  }
  
  .links {
    font-size: 1.5em;
  }

  .brand-title {
    font-family: 'Roboto-Regular';
    font-size: 1.2em;
    font-weight: normal;
    text-align center;
    margin: 10px auto;
  }

  .welcome {
    font-size: 2em;
    margin: 15px;
    padding: 15px;
  }
  
  .centered {
    left: 50%;
    position absolute
    top 50%
    transform translate(-50%, -50%)
    width: 100%;
  }

  .controls {
    text-align: left;
    margin: auto;
    width: 100%;
  }
  
  .player-list {
    display: flex;
    margin-bottom: 7px;
  }

  .player {
    box-sizing: border-box;
    border-radius: 1px;
    color: white;
    display: inline-block;
    flex-basis: 0;
    flex-grow: 1;
    margin: 0 3.5px;
    max-height: 25px
    overflow: hidden;
    padding: 5px 8px;
    text-align: center;
    opacity: 0.75;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .player:first-child {
    margin-left: 7px;
  }
  
  .player:last-child {
    margin-right: 7px;
  }

  #play {
    background-color: gray;
    border: 1px solid gray;
    border-radius: 1px;
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-size: 10px;
    margin-left: 7px;
    height: 25px;
    padding: 6px;
    width: 25px;
  }

  #play:focus {
    outline: 0;
  }
  
  #add-room {
    border-radius: 2px;
    background-color: #607D8B;
    border: 0px;
    padding: 12px;
    color: white;
  }

  #play:hover, #add-room:hover {
    opacity: 0.8;
  }

  .center {
    text-align:  center;
  }

  a, .pointer {
    color: white;
    text-decoration: none;
    cursor: pointer;
    color:  rgb(200,200,200);
  }

  a:hover, .pointer:hover {
    color:  rgb(250,250,250);
  }

  #shareUrl {
    width: 150px;
  }

  #options, #share {
    margin-top:  25px;
    text-align:  center;
    display: none;
  }

  h2 {
    margin: 0 0 5px 0;
    font-size: 1.25em;
    padding:  0 0 5px 0;
    border-bottom:  1px solid rgb(100,100,100);
  }

// Player colours
&.RED {
  background-color: #F44336;
}
&.BLUE {
  background-color: #2196F3;
}
&.LIGHT_GREY {
  background-color: #607D8B;
}
&.TEAL {
  background-color: #009688;
}
&.YELLOW {
  background-color: #FFEB3B;
}
&.ORANGE {
  background-color: #FF5722;
}
&.INDIGO {
  background-color: #3F51B5;
}
&.GREEN {
  background-color: #1B5E20;
}
&.PINK {
  background-color: #E91E63;
}
&.PURPLE {
  background-color: #9C27B0;
}

.hidden {
  display: none;
}

p {
  margin:  0;
}

input,
button,
.btn
    background-color black
    border 1px solid rgba(255, 255, 255, .5)
    box-sizing border-box
    color white
    margin 10px
    padding 5px 10px

label {
  width: 150px;
  cursor:  pointer;
}

/* Smaller than tablets */
@media (max-width: 767px) {
  .controls {
    width: 100%;
  }
}