<template name="roomPlay">
  <div class="room play">
    {{#if isLogged}}
      {{> board}}
      {{> controls}}
    {{else}}
      {{> login}}
    {{/if}}
  </div>
</template>

<template name="board">
  <table id="board">
    <tbody>
      {{#each rows}}
        <tr>
          {{#each .}}
            <td class="{{#if active}}active {{color}}{{/if}}" data-id="{{id}}" data-frequency="{{frequency}}" style="width:{{size}}px;height:{{size}}px;"></td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>

<template name="controls">
  <div class="player-list">
    {{#each players}}
      <span class="player">{{ name }}</span>
    {{/each}}
  </div>
  <div class="controls">
    <button id="play" class="e"><i class="fa fa-{{ playButtonIcon }}"></i></button>
  </div>
</template>
