<head>
  <title>polytunes</title>
</head>

<body>
	{{#if isLogged}}
		{{> board}}
		{{> controls}}
	{{else}}
		{{> login}}
	{{/if}}
	<br>
	<div class="bottom">
		<p class="copyright">	<h1 class="brand-title">polytunes</h1> by iwazaru, whollacsek, wmai and nbeydoon</p>
		<iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user=iwazaru&repo=polytunes&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
	</div>
</body>

<template name="board">
  <table id="board">
    <tbody>
      {{#each rows}}
        <tr>
          {{#each .}}
            <td title="{{title}}" class="x{{x}} y{{y}} {{#if i}}i {{color}}{{/if}}" data-x="{{x}}" data-y="{{y}}"></td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>

<template name="controls">
  <div class="controls">
    <button id="play" class="e">play</button>
    <span class="playerCount">{{players}}</span>
  </div>
</template>

<template name="login">
	<div class="login-container">
		<form id="login-form">
			<input type="text" placeholder="Hi, what's your name ?" name="surname" autofocus required>
      <input type="hidden" name="color" value="{{ random_color.name }}">
			<button type="submit">Continue</button>
		</form>
	</div>
</template>
