<head>
  <title>polytunes</title>
</head>

<body>
	{{#if isLogged}}
		{{> board}}
		{{> controls}}
	{{else}}
		{{> login}}
	{{/if}}
	<br>
	<div class="bottom">
		<p class="copyright">	<h1 class="brand-title">polytunes</h1> by iwazaru, whollacsek, wmai and nbeydoon</p>
		<iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user=iwazaru&repo=polytunes&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
	</div>
</body>

<template name="board">
  <table id="board">
    <tbody>
      {{#each rows}}
        <tr>
          {{#each .}}
            <td title="{{title}}" class="x{{x}} y{{y}} {{#if i}}i {{color}}{{/if}}" data-x="{{x}}" data-y="{{y}}"></td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>

<template name="controls">
  <button id="play" class="e">play</button>
</template>

<template name="login">
	<div class="login-container">
		<form id="login-form">
			<input type="text" placeholder="Enter your name..." name="surname" autofocus required>
			<select name="color" required>
        <option value="">Choose a color...</option>
				<option value="RED">Red</option>
				<option value="BLUE">Blue</option>
				<option value="LIGHT_GREY">Light green</option>
				<option value="TEAL">Teal</option>
				<option value="YELLOW">Yellow</option>
				<option value="ORANGE">Orange</option>
				<option value="INDIGO">Indigo</option>
				<option value="GREEN">Green</option>
				<option value="PINK">Pink</option>
				<option value="PURPLE">Purple</option>
			</select>
			<input type="submit" value="Valider">
		</form>
	</div>
</template>
